/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$Pokemon001-x: 200px;
$Pokemon001-y: 0px;
$Pokemon001-offset-x: -200px;
$Pokemon001-offset-y: 0px;
$Pokemon001-width: 200px;
$Pokemon001-height: 200px;
$Pokemon001-total-width: 2600px;
$Pokemon001-total-height: 2400px;
$Pokemon001-image: '../images/sprite.png';
$Pokemon001: 200px 0px -200px 0px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon002-x: 600px;
$Pokemon002-y: 1600px;
$Pokemon002-offset-x: -600px;
$Pokemon002-offset-y: -1600px;
$Pokemon002-width: 200px;
$Pokemon002-height: 200px;
$Pokemon002-total-width: 2600px;
$Pokemon002-total-height: 2400px;
$Pokemon002-image: '../images/sprite.png';
$Pokemon002: 600px 1600px -600px -1600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon003-x: 0px;
$Pokemon003-y: 200px;
$Pokemon003-offset-x: 0px;
$Pokemon003-offset-y: -200px;
$Pokemon003-width: 200px;
$Pokemon003-height: 200px;
$Pokemon003-total-width: 2600px;
$Pokemon003-total-height: 2400px;
$Pokemon003-image: '../images/sprite.png';
$Pokemon003: 0px 200px 0px -200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon004-x: 200px;
$Pokemon004-y: 200px;
$Pokemon004-offset-x: -200px;
$Pokemon004-offset-y: -200px;
$Pokemon004-width: 200px;
$Pokemon004-height: 200px;
$Pokemon004-total-width: 2600px;
$Pokemon004-total-height: 2400px;
$Pokemon004-image: '../images/sprite.png';
$Pokemon004: 200px 200px -200px -200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon005-x: 400px;
$Pokemon005-y: 0px;
$Pokemon005-offset-x: -400px;
$Pokemon005-offset-y: 0px;
$Pokemon005-width: 200px;
$Pokemon005-height: 200px;
$Pokemon005-total-width: 2600px;
$Pokemon005-total-height: 2400px;
$Pokemon005-image: '../images/sprite.png';
$Pokemon005: 400px 0px -400px 0px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon006-x: 400px;
$Pokemon006-y: 200px;
$Pokemon006-offset-x: -400px;
$Pokemon006-offset-y: -200px;
$Pokemon006-width: 200px;
$Pokemon006-height: 200px;
$Pokemon006-total-width: 2600px;
$Pokemon006-total-height: 2400px;
$Pokemon006-image: '../images/sprite.png';
$Pokemon006: 400px 200px -400px -200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon007-x: 0px;
$Pokemon007-y: 400px;
$Pokemon007-offset-x: 0px;
$Pokemon007-offset-y: -400px;
$Pokemon007-width: 200px;
$Pokemon007-height: 200px;
$Pokemon007-total-width: 2600px;
$Pokemon007-total-height: 2400px;
$Pokemon007-image: '../images/sprite.png';
$Pokemon007: 0px 400px 0px -400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon008-x: 200px;
$Pokemon008-y: 400px;
$Pokemon008-offset-x: -200px;
$Pokemon008-offset-y: -400px;
$Pokemon008-width: 200px;
$Pokemon008-height: 200px;
$Pokemon008-total-width: 2600px;
$Pokemon008-total-height: 2400px;
$Pokemon008-image: '../images/sprite.png';
$Pokemon008: 200px 400px -200px -400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon009-x: 400px;
$Pokemon009-y: 400px;
$Pokemon009-offset-x: -400px;
$Pokemon009-offset-y: -400px;
$Pokemon009-width: 200px;
$Pokemon009-height: 200px;
$Pokemon009-total-width: 2600px;
$Pokemon009-total-height: 2400px;
$Pokemon009-image: '../images/sprite.png';
$Pokemon009: 400px 400px -400px -400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon010-x: 600px;
$Pokemon010-y: 0px;
$Pokemon010-offset-x: -600px;
$Pokemon010-offset-y: 0px;
$Pokemon010-width: 200px;
$Pokemon010-height: 200px;
$Pokemon010-total-width: 2600px;
$Pokemon010-total-height: 2400px;
$Pokemon010-image: '../images/sprite.png';
$Pokemon010: 600px 0px -600px 0px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon011-x: 600px;
$Pokemon011-y: 200px;
$Pokemon011-offset-x: -600px;
$Pokemon011-offset-y: -200px;
$Pokemon011-width: 200px;
$Pokemon011-height: 200px;
$Pokemon011-total-width: 2600px;
$Pokemon011-total-height: 2400px;
$Pokemon011-image: '../images/sprite.png';
$Pokemon011: 600px 200px -600px -200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon012-x: 600px;
$Pokemon012-y: 400px;
$Pokemon012-offset-x: -600px;
$Pokemon012-offset-y: -400px;
$Pokemon012-width: 200px;
$Pokemon012-height: 200px;
$Pokemon012-total-width: 2600px;
$Pokemon012-total-height: 2400px;
$Pokemon012-image: '../images/sprite.png';
$Pokemon012: 600px 400px -600px -400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon013-x: 0px;
$Pokemon013-y: 600px;
$Pokemon013-offset-x: 0px;
$Pokemon013-offset-y: -600px;
$Pokemon013-width: 200px;
$Pokemon013-height: 200px;
$Pokemon013-total-width: 2600px;
$Pokemon013-total-height: 2400px;
$Pokemon013-image: '../images/sprite.png';
$Pokemon013: 0px 600px 0px -600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon014-x: 200px;
$Pokemon014-y: 600px;
$Pokemon014-offset-x: -200px;
$Pokemon014-offset-y: -600px;
$Pokemon014-width: 200px;
$Pokemon014-height: 200px;
$Pokemon014-total-width: 2600px;
$Pokemon014-total-height: 2400px;
$Pokemon014-image: '../images/sprite.png';
$Pokemon014: 200px 600px -200px -600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon015-x: 400px;
$Pokemon015-y: 600px;
$Pokemon015-offset-x: -400px;
$Pokemon015-offset-y: -600px;
$Pokemon015-width: 200px;
$Pokemon015-height: 200px;
$Pokemon015-total-width: 2600px;
$Pokemon015-total-height: 2400px;
$Pokemon015-image: '../images/sprite.png';
$Pokemon015: 400px 600px -400px -600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon016-x: 600px;
$Pokemon016-y: 600px;
$Pokemon016-offset-x: -600px;
$Pokemon016-offset-y: -600px;
$Pokemon016-width: 200px;
$Pokemon016-height: 200px;
$Pokemon016-total-width: 2600px;
$Pokemon016-total-height: 2400px;
$Pokemon016-image: '../images/sprite.png';
$Pokemon016: 600px 600px -600px -600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon017-x: 800px;
$Pokemon017-y: 0px;
$Pokemon017-offset-x: -800px;
$Pokemon017-offset-y: 0px;
$Pokemon017-width: 200px;
$Pokemon017-height: 200px;
$Pokemon017-total-width: 2600px;
$Pokemon017-total-height: 2400px;
$Pokemon017-image: '../images/sprite.png';
$Pokemon017: 800px 0px -800px 0px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon018-x: 800px;
$Pokemon018-y: 200px;
$Pokemon018-offset-x: -800px;
$Pokemon018-offset-y: -200px;
$Pokemon018-width: 200px;
$Pokemon018-height: 200px;
$Pokemon018-total-width: 2600px;
$Pokemon018-total-height: 2400px;
$Pokemon018-image: '../images/sprite.png';
$Pokemon018: 800px 200px -800px -200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon019-x: 800px;
$Pokemon019-y: 400px;
$Pokemon019-offset-x: -800px;
$Pokemon019-offset-y: -400px;
$Pokemon019-width: 200px;
$Pokemon019-height: 200px;
$Pokemon019-total-width: 2600px;
$Pokemon019-total-height: 2400px;
$Pokemon019-image: '../images/sprite.png';
$Pokemon019: 800px 400px -800px -400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon020-x: 800px;
$Pokemon020-y: 600px;
$Pokemon020-offset-x: -800px;
$Pokemon020-offset-y: -600px;
$Pokemon020-width: 200px;
$Pokemon020-height: 200px;
$Pokemon020-total-width: 2600px;
$Pokemon020-total-height: 2400px;
$Pokemon020-image: '../images/sprite.png';
$Pokemon020: 800px 600px -800px -600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon021-x: 0px;
$Pokemon021-y: 800px;
$Pokemon021-offset-x: 0px;
$Pokemon021-offset-y: -800px;
$Pokemon021-width: 200px;
$Pokemon021-height: 200px;
$Pokemon021-total-width: 2600px;
$Pokemon021-total-height: 2400px;
$Pokemon021-image: '../images/sprite.png';
$Pokemon021: 0px 800px 0px -800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon022-x: 200px;
$Pokemon022-y: 800px;
$Pokemon022-offset-x: -200px;
$Pokemon022-offset-y: -800px;
$Pokemon022-width: 200px;
$Pokemon022-height: 200px;
$Pokemon022-total-width: 2600px;
$Pokemon022-total-height: 2400px;
$Pokemon022-image: '../images/sprite.png';
$Pokemon022: 200px 800px -200px -800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon023-x: 400px;
$Pokemon023-y: 800px;
$Pokemon023-offset-x: -400px;
$Pokemon023-offset-y: -800px;
$Pokemon023-width: 200px;
$Pokemon023-height: 200px;
$Pokemon023-total-width: 2600px;
$Pokemon023-total-height: 2400px;
$Pokemon023-image: '../images/sprite.png';
$Pokemon023: 400px 800px -400px -800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon024-x: 600px;
$Pokemon024-y: 800px;
$Pokemon024-offset-x: -600px;
$Pokemon024-offset-y: -800px;
$Pokemon024-width: 200px;
$Pokemon024-height: 200px;
$Pokemon024-total-width: 2600px;
$Pokemon024-total-height: 2400px;
$Pokemon024-image: '../images/sprite.png';
$Pokemon024: 600px 800px -600px -800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon025-x: 800px;
$Pokemon025-y: 800px;
$Pokemon025-offset-x: -800px;
$Pokemon025-offset-y: -800px;
$Pokemon025-width: 200px;
$Pokemon025-height: 200px;
$Pokemon025-total-width: 2600px;
$Pokemon025-total-height: 2400px;
$Pokemon025-image: '../images/sprite.png';
$Pokemon025: 800px 800px -800px -800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon026-x: 1000px;
$Pokemon026-y: 0px;
$Pokemon026-offset-x: -1000px;
$Pokemon026-offset-y: 0px;
$Pokemon026-width: 200px;
$Pokemon026-height: 200px;
$Pokemon026-total-width: 2600px;
$Pokemon026-total-height: 2400px;
$Pokemon026-image: '../images/sprite.png';
$Pokemon026: 1000px 0px -1000px 0px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon027-x: 1000px;
$Pokemon027-y: 200px;
$Pokemon027-offset-x: -1000px;
$Pokemon027-offset-y: -200px;
$Pokemon027-width: 200px;
$Pokemon027-height: 200px;
$Pokemon027-total-width: 2600px;
$Pokemon027-total-height: 2400px;
$Pokemon027-image: '../images/sprite.png';
$Pokemon027: 1000px 200px -1000px -200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon028-x: 1000px;
$Pokemon028-y: 400px;
$Pokemon028-offset-x: -1000px;
$Pokemon028-offset-y: -400px;
$Pokemon028-width: 200px;
$Pokemon028-height: 200px;
$Pokemon028-total-width: 2600px;
$Pokemon028-total-height: 2400px;
$Pokemon028-image: '../images/sprite.png';
$Pokemon028: 1000px 400px -1000px -400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon029-x: 1000px;
$Pokemon029-y: 600px;
$Pokemon029-offset-x: -1000px;
$Pokemon029-offset-y: -600px;
$Pokemon029-width: 200px;
$Pokemon029-height: 200px;
$Pokemon029-total-width: 2600px;
$Pokemon029-total-height: 2400px;
$Pokemon029-image: '../images/sprite.png';
$Pokemon029: 1000px 600px -1000px -600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon030-x: 1000px;
$Pokemon030-y: 800px;
$Pokemon030-offset-x: -1000px;
$Pokemon030-offset-y: -800px;
$Pokemon030-width: 200px;
$Pokemon030-height: 200px;
$Pokemon030-total-width: 2600px;
$Pokemon030-total-height: 2400px;
$Pokemon030-image: '../images/sprite.png';
$Pokemon030: 1000px 800px -1000px -800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon031-x: 0px;
$Pokemon031-y: 1000px;
$Pokemon031-offset-x: 0px;
$Pokemon031-offset-y: -1000px;
$Pokemon031-width: 200px;
$Pokemon031-height: 200px;
$Pokemon031-total-width: 2600px;
$Pokemon031-total-height: 2400px;
$Pokemon031-image: '../images/sprite.png';
$Pokemon031: 0px 1000px 0px -1000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon032-x: 200px;
$Pokemon032-y: 1000px;
$Pokemon032-offset-x: -200px;
$Pokemon032-offset-y: -1000px;
$Pokemon032-width: 200px;
$Pokemon032-height: 200px;
$Pokemon032-total-width: 2600px;
$Pokemon032-total-height: 2400px;
$Pokemon032-image: '../images/sprite.png';
$Pokemon032: 200px 1000px -200px -1000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon033-x: 400px;
$Pokemon033-y: 1000px;
$Pokemon033-offset-x: -400px;
$Pokemon033-offset-y: -1000px;
$Pokemon033-width: 200px;
$Pokemon033-height: 200px;
$Pokemon033-total-width: 2600px;
$Pokemon033-total-height: 2400px;
$Pokemon033-image: '../images/sprite.png';
$Pokemon033: 400px 1000px -400px -1000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon034-x: 600px;
$Pokemon034-y: 1000px;
$Pokemon034-offset-x: -600px;
$Pokemon034-offset-y: -1000px;
$Pokemon034-width: 200px;
$Pokemon034-height: 200px;
$Pokemon034-total-width: 2600px;
$Pokemon034-total-height: 2400px;
$Pokemon034-image: '../images/sprite.png';
$Pokemon034: 600px 1000px -600px -1000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon035-x: 800px;
$Pokemon035-y: 1000px;
$Pokemon035-offset-x: -800px;
$Pokemon035-offset-y: -1000px;
$Pokemon035-width: 200px;
$Pokemon035-height: 200px;
$Pokemon035-total-width: 2600px;
$Pokemon035-total-height: 2400px;
$Pokemon035-image: '../images/sprite.png';
$Pokemon035: 800px 1000px -800px -1000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon036-x: 1000px;
$Pokemon036-y: 1000px;
$Pokemon036-offset-x: -1000px;
$Pokemon036-offset-y: -1000px;
$Pokemon036-width: 200px;
$Pokemon036-height: 200px;
$Pokemon036-total-width: 2600px;
$Pokemon036-total-height: 2400px;
$Pokemon036-image: '../images/sprite.png';
$Pokemon036: 1000px 1000px -1000px -1000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon037-x: 1200px;
$Pokemon037-y: 0px;
$Pokemon037-offset-x: -1200px;
$Pokemon037-offset-y: 0px;
$Pokemon037-width: 200px;
$Pokemon037-height: 200px;
$Pokemon037-total-width: 2600px;
$Pokemon037-total-height: 2400px;
$Pokemon037-image: '../images/sprite.png';
$Pokemon037: 1200px 0px -1200px 0px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon038-x: 1200px;
$Pokemon038-y: 200px;
$Pokemon038-offset-x: -1200px;
$Pokemon038-offset-y: -200px;
$Pokemon038-width: 200px;
$Pokemon038-height: 200px;
$Pokemon038-total-width: 2600px;
$Pokemon038-total-height: 2400px;
$Pokemon038-image: '../images/sprite.png';
$Pokemon038: 1200px 200px -1200px -200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon039-x: 1200px;
$Pokemon039-y: 400px;
$Pokemon039-offset-x: -1200px;
$Pokemon039-offset-y: -400px;
$Pokemon039-width: 200px;
$Pokemon039-height: 200px;
$Pokemon039-total-width: 2600px;
$Pokemon039-total-height: 2400px;
$Pokemon039-image: '../images/sprite.png';
$Pokemon039: 1200px 400px -1200px -400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon040-x: 1200px;
$Pokemon040-y: 600px;
$Pokemon040-offset-x: -1200px;
$Pokemon040-offset-y: -600px;
$Pokemon040-width: 200px;
$Pokemon040-height: 200px;
$Pokemon040-total-width: 2600px;
$Pokemon040-total-height: 2400px;
$Pokemon040-image: '../images/sprite.png';
$Pokemon040: 1200px 600px -1200px -600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon041-x: 1200px;
$Pokemon041-y: 800px;
$Pokemon041-offset-x: -1200px;
$Pokemon041-offset-y: -800px;
$Pokemon041-width: 200px;
$Pokemon041-height: 200px;
$Pokemon041-total-width: 2600px;
$Pokemon041-total-height: 2400px;
$Pokemon041-image: '../images/sprite.png';
$Pokemon041: 1200px 800px -1200px -800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon042-x: 1200px;
$Pokemon042-y: 1000px;
$Pokemon042-offset-x: -1200px;
$Pokemon042-offset-y: -1000px;
$Pokemon042-width: 200px;
$Pokemon042-height: 200px;
$Pokemon042-total-width: 2600px;
$Pokemon042-total-height: 2400px;
$Pokemon042-image: '../images/sprite.png';
$Pokemon042: 1200px 1000px -1200px -1000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon043-x: 0px;
$Pokemon043-y: 1200px;
$Pokemon043-offset-x: 0px;
$Pokemon043-offset-y: -1200px;
$Pokemon043-width: 200px;
$Pokemon043-height: 200px;
$Pokemon043-total-width: 2600px;
$Pokemon043-total-height: 2400px;
$Pokemon043-image: '../images/sprite.png';
$Pokemon043: 0px 1200px 0px -1200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon044-x: 200px;
$Pokemon044-y: 1200px;
$Pokemon044-offset-x: -200px;
$Pokemon044-offset-y: -1200px;
$Pokemon044-width: 200px;
$Pokemon044-height: 200px;
$Pokemon044-total-width: 2600px;
$Pokemon044-total-height: 2400px;
$Pokemon044-image: '../images/sprite.png';
$Pokemon044: 200px 1200px -200px -1200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon045-x: 400px;
$Pokemon045-y: 1200px;
$Pokemon045-offset-x: -400px;
$Pokemon045-offset-y: -1200px;
$Pokemon045-width: 200px;
$Pokemon045-height: 200px;
$Pokemon045-total-width: 2600px;
$Pokemon045-total-height: 2400px;
$Pokemon045-image: '../images/sprite.png';
$Pokemon045: 400px 1200px -400px -1200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon046-x: 600px;
$Pokemon046-y: 1200px;
$Pokemon046-offset-x: -600px;
$Pokemon046-offset-y: -1200px;
$Pokemon046-width: 200px;
$Pokemon046-height: 200px;
$Pokemon046-total-width: 2600px;
$Pokemon046-total-height: 2400px;
$Pokemon046-image: '../images/sprite.png';
$Pokemon046: 600px 1200px -600px -1200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon047-x: 800px;
$Pokemon047-y: 1200px;
$Pokemon047-offset-x: -800px;
$Pokemon047-offset-y: -1200px;
$Pokemon047-width: 200px;
$Pokemon047-height: 200px;
$Pokemon047-total-width: 2600px;
$Pokemon047-total-height: 2400px;
$Pokemon047-image: '../images/sprite.png';
$Pokemon047: 800px 1200px -800px -1200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon048-x: 1000px;
$Pokemon048-y: 1200px;
$Pokemon048-offset-x: -1000px;
$Pokemon048-offset-y: -1200px;
$Pokemon048-width: 200px;
$Pokemon048-height: 200px;
$Pokemon048-total-width: 2600px;
$Pokemon048-total-height: 2400px;
$Pokemon048-image: '../images/sprite.png';
$Pokemon048: 1000px 1200px -1000px -1200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon049-x: 1200px;
$Pokemon049-y: 1200px;
$Pokemon049-offset-x: -1200px;
$Pokemon049-offset-y: -1200px;
$Pokemon049-width: 200px;
$Pokemon049-height: 200px;
$Pokemon049-total-width: 2600px;
$Pokemon049-total-height: 2400px;
$Pokemon049-image: '../images/sprite.png';
$Pokemon049: 1200px 1200px -1200px -1200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon050-x: 1400px;
$Pokemon050-y: 0px;
$Pokemon050-offset-x: -1400px;
$Pokemon050-offset-y: 0px;
$Pokemon050-width: 200px;
$Pokemon050-height: 200px;
$Pokemon050-total-width: 2600px;
$Pokemon050-total-height: 2400px;
$Pokemon050-image: '../images/sprite.png';
$Pokemon050: 1400px 0px -1400px 0px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon051-x: 1400px;
$Pokemon051-y: 200px;
$Pokemon051-offset-x: -1400px;
$Pokemon051-offset-y: -200px;
$Pokemon051-width: 200px;
$Pokemon051-height: 200px;
$Pokemon051-total-width: 2600px;
$Pokemon051-total-height: 2400px;
$Pokemon051-image: '../images/sprite.png';
$Pokemon051: 1400px 200px -1400px -200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon052-x: 1400px;
$Pokemon052-y: 400px;
$Pokemon052-offset-x: -1400px;
$Pokemon052-offset-y: -400px;
$Pokemon052-width: 200px;
$Pokemon052-height: 200px;
$Pokemon052-total-width: 2600px;
$Pokemon052-total-height: 2400px;
$Pokemon052-image: '../images/sprite.png';
$Pokemon052: 1400px 400px -1400px -400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon053-x: 1400px;
$Pokemon053-y: 600px;
$Pokemon053-offset-x: -1400px;
$Pokemon053-offset-y: -600px;
$Pokemon053-width: 200px;
$Pokemon053-height: 200px;
$Pokemon053-total-width: 2600px;
$Pokemon053-total-height: 2400px;
$Pokemon053-image: '../images/sprite.png';
$Pokemon053: 1400px 600px -1400px -600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon054-x: 1400px;
$Pokemon054-y: 800px;
$Pokemon054-offset-x: -1400px;
$Pokemon054-offset-y: -800px;
$Pokemon054-width: 200px;
$Pokemon054-height: 200px;
$Pokemon054-total-width: 2600px;
$Pokemon054-total-height: 2400px;
$Pokemon054-image: '../images/sprite.png';
$Pokemon054: 1400px 800px -1400px -800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon055-x: 1400px;
$Pokemon055-y: 1000px;
$Pokemon055-offset-x: -1400px;
$Pokemon055-offset-y: -1000px;
$Pokemon055-width: 200px;
$Pokemon055-height: 200px;
$Pokemon055-total-width: 2600px;
$Pokemon055-total-height: 2400px;
$Pokemon055-image: '../images/sprite.png';
$Pokemon055: 1400px 1000px -1400px -1000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon056-x: 1400px;
$Pokemon056-y: 1200px;
$Pokemon056-offset-x: -1400px;
$Pokemon056-offset-y: -1200px;
$Pokemon056-width: 200px;
$Pokemon056-height: 200px;
$Pokemon056-total-width: 2600px;
$Pokemon056-total-height: 2400px;
$Pokemon056-image: '../images/sprite.png';
$Pokemon056: 1400px 1200px -1400px -1200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon057-x: 0px;
$Pokemon057-y: 1400px;
$Pokemon057-offset-x: 0px;
$Pokemon057-offset-y: -1400px;
$Pokemon057-width: 200px;
$Pokemon057-height: 200px;
$Pokemon057-total-width: 2600px;
$Pokemon057-total-height: 2400px;
$Pokemon057-image: '../images/sprite.png';
$Pokemon057: 0px 1400px 0px -1400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon058-x: 200px;
$Pokemon058-y: 1400px;
$Pokemon058-offset-x: -200px;
$Pokemon058-offset-y: -1400px;
$Pokemon058-width: 200px;
$Pokemon058-height: 200px;
$Pokemon058-total-width: 2600px;
$Pokemon058-total-height: 2400px;
$Pokemon058-image: '../images/sprite.png';
$Pokemon058: 200px 1400px -200px -1400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon059-x: 400px;
$Pokemon059-y: 1400px;
$Pokemon059-offset-x: -400px;
$Pokemon059-offset-y: -1400px;
$Pokemon059-width: 200px;
$Pokemon059-height: 200px;
$Pokemon059-total-width: 2600px;
$Pokemon059-total-height: 2400px;
$Pokemon059-image: '../images/sprite.png';
$Pokemon059: 400px 1400px -400px -1400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon060-x: 600px;
$Pokemon060-y: 1400px;
$Pokemon060-offset-x: -600px;
$Pokemon060-offset-y: -1400px;
$Pokemon060-width: 200px;
$Pokemon060-height: 200px;
$Pokemon060-total-width: 2600px;
$Pokemon060-total-height: 2400px;
$Pokemon060-image: '../images/sprite.png';
$Pokemon060: 600px 1400px -600px -1400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon061-x: 800px;
$Pokemon061-y: 1400px;
$Pokemon061-offset-x: -800px;
$Pokemon061-offset-y: -1400px;
$Pokemon061-width: 200px;
$Pokemon061-height: 200px;
$Pokemon061-total-width: 2600px;
$Pokemon061-total-height: 2400px;
$Pokemon061-image: '../images/sprite.png';
$Pokemon061: 800px 1400px -800px -1400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon062-x: 1000px;
$Pokemon062-y: 1400px;
$Pokemon062-offset-x: -1000px;
$Pokemon062-offset-y: -1400px;
$Pokemon062-width: 200px;
$Pokemon062-height: 200px;
$Pokemon062-total-width: 2600px;
$Pokemon062-total-height: 2400px;
$Pokemon062-image: '../images/sprite.png';
$Pokemon062: 1000px 1400px -1000px -1400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon063-x: 1200px;
$Pokemon063-y: 1400px;
$Pokemon063-offset-x: -1200px;
$Pokemon063-offset-y: -1400px;
$Pokemon063-width: 200px;
$Pokemon063-height: 200px;
$Pokemon063-total-width: 2600px;
$Pokemon063-total-height: 2400px;
$Pokemon063-image: '../images/sprite.png';
$Pokemon063: 1200px 1400px -1200px -1400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon064-x: 1400px;
$Pokemon064-y: 1400px;
$Pokemon064-offset-x: -1400px;
$Pokemon064-offset-y: -1400px;
$Pokemon064-width: 200px;
$Pokemon064-height: 200px;
$Pokemon064-total-width: 2600px;
$Pokemon064-total-height: 2400px;
$Pokemon064-image: '../images/sprite.png';
$Pokemon064: 1400px 1400px -1400px -1400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon065-x: 1600px;
$Pokemon065-y: 0px;
$Pokemon065-offset-x: -1600px;
$Pokemon065-offset-y: 0px;
$Pokemon065-width: 200px;
$Pokemon065-height: 200px;
$Pokemon065-total-width: 2600px;
$Pokemon065-total-height: 2400px;
$Pokemon065-image: '../images/sprite.png';
$Pokemon065: 1600px 0px -1600px 0px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon066-x: 1600px;
$Pokemon066-y: 200px;
$Pokemon066-offset-x: -1600px;
$Pokemon066-offset-y: -200px;
$Pokemon066-width: 200px;
$Pokemon066-height: 200px;
$Pokemon066-total-width: 2600px;
$Pokemon066-total-height: 2400px;
$Pokemon066-image: '../images/sprite.png';
$Pokemon066: 1600px 200px -1600px -200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon067-x: 1600px;
$Pokemon067-y: 400px;
$Pokemon067-offset-x: -1600px;
$Pokemon067-offset-y: -400px;
$Pokemon067-width: 200px;
$Pokemon067-height: 200px;
$Pokemon067-total-width: 2600px;
$Pokemon067-total-height: 2400px;
$Pokemon067-image: '../images/sprite.png';
$Pokemon067: 1600px 400px -1600px -400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon068-x: 1600px;
$Pokemon068-y: 600px;
$Pokemon068-offset-x: -1600px;
$Pokemon068-offset-y: -600px;
$Pokemon068-width: 200px;
$Pokemon068-height: 200px;
$Pokemon068-total-width: 2600px;
$Pokemon068-total-height: 2400px;
$Pokemon068-image: '../images/sprite.png';
$Pokemon068: 1600px 600px -1600px -600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon069-x: 1600px;
$Pokemon069-y: 800px;
$Pokemon069-offset-x: -1600px;
$Pokemon069-offset-y: -800px;
$Pokemon069-width: 200px;
$Pokemon069-height: 200px;
$Pokemon069-total-width: 2600px;
$Pokemon069-total-height: 2400px;
$Pokemon069-image: '../images/sprite.png';
$Pokemon069: 1600px 800px -1600px -800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon070-x: 1600px;
$Pokemon070-y: 1000px;
$Pokemon070-offset-x: -1600px;
$Pokemon070-offset-y: -1000px;
$Pokemon070-width: 200px;
$Pokemon070-height: 200px;
$Pokemon070-total-width: 2600px;
$Pokemon070-total-height: 2400px;
$Pokemon070-image: '../images/sprite.png';
$Pokemon070: 1600px 1000px -1600px -1000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon071-x: 1600px;
$Pokemon071-y: 1200px;
$Pokemon071-offset-x: -1600px;
$Pokemon071-offset-y: -1200px;
$Pokemon071-width: 200px;
$Pokemon071-height: 200px;
$Pokemon071-total-width: 2600px;
$Pokemon071-total-height: 2400px;
$Pokemon071-image: '../images/sprite.png';
$Pokemon071: 1600px 1200px -1600px -1200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon072-x: 1600px;
$Pokemon072-y: 1400px;
$Pokemon072-offset-x: -1600px;
$Pokemon072-offset-y: -1400px;
$Pokemon072-width: 200px;
$Pokemon072-height: 200px;
$Pokemon072-total-width: 2600px;
$Pokemon072-total-height: 2400px;
$Pokemon072-image: '../images/sprite.png';
$Pokemon072: 1600px 1400px -1600px -1400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon073-x: 0px;
$Pokemon073-y: 1600px;
$Pokemon073-offset-x: 0px;
$Pokemon073-offset-y: -1600px;
$Pokemon073-width: 200px;
$Pokemon073-height: 200px;
$Pokemon073-total-width: 2600px;
$Pokemon073-total-height: 2400px;
$Pokemon073-image: '../images/sprite.png';
$Pokemon073: 0px 1600px 0px -1600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon074-x: 200px;
$Pokemon074-y: 1600px;
$Pokemon074-offset-x: -200px;
$Pokemon074-offset-y: -1600px;
$Pokemon074-width: 200px;
$Pokemon074-height: 200px;
$Pokemon074-total-width: 2600px;
$Pokemon074-total-height: 2400px;
$Pokemon074-image: '../images/sprite.png';
$Pokemon074: 200px 1600px -200px -1600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon075-x: 400px;
$Pokemon075-y: 1600px;
$Pokemon075-offset-x: -400px;
$Pokemon075-offset-y: -1600px;
$Pokemon075-width: 200px;
$Pokemon075-height: 200px;
$Pokemon075-total-width: 2600px;
$Pokemon075-total-height: 2400px;
$Pokemon075-image: '../images/sprite.png';
$Pokemon075: 400px 1600px -400px -1600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon076-x: 0px;
$Pokemon076-y: 0px;
$Pokemon076-offset-x: 0px;
$Pokemon076-offset-y: 0px;
$Pokemon076-width: 200px;
$Pokemon076-height: 200px;
$Pokemon076-total-width: 2600px;
$Pokemon076-total-height: 2400px;
$Pokemon076-image: '../images/sprite.png';
$Pokemon076: 0px 0px 0px 0px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon077-x: 800px;
$Pokemon077-y: 1600px;
$Pokemon077-offset-x: -800px;
$Pokemon077-offset-y: -1600px;
$Pokemon077-width: 200px;
$Pokemon077-height: 200px;
$Pokemon077-total-width: 2600px;
$Pokemon077-total-height: 2400px;
$Pokemon077-image: '../images/sprite.png';
$Pokemon077: 800px 1600px -800px -1600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon078-x: 1000px;
$Pokemon078-y: 1600px;
$Pokemon078-offset-x: -1000px;
$Pokemon078-offset-y: -1600px;
$Pokemon078-width: 200px;
$Pokemon078-height: 200px;
$Pokemon078-total-width: 2600px;
$Pokemon078-total-height: 2400px;
$Pokemon078-image: '../images/sprite.png';
$Pokemon078: 1000px 1600px -1000px -1600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon079-x: 1200px;
$Pokemon079-y: 1600px;
$Pokemon079-offset-x: -1200px;
$Pokemon079-offset-y: -1600px;
$Pokemon079-width: 200px;
$Pokemon079-height: 200px;
$Pokemon079-total-width: 2600px;
$Pokemon079-total-height: 2400px;
$Pokemon079-image: '../images/sprite.png';
$Pokemon079: 1200px 1600px -1200px -1600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon080-x: 1400px;
$Pokemon080-y: 1600px;
$Pokemon080-offset-x: -1400px;
$Pokemon080-offset-y: -1600px;
$Pokemon080-width: 200px;
$Pokemon080-height: 200px;
$Pokemon080-total-width: 2600px;
$Pokemon080-total-height: 2400px;
$Pokemon080-image: '../images/sprite.png';
$Pokemon080: 1400px 1600px -1400px -1600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon081-x: 1600px;
$Pokemon081-y: 1600px;
$Pokemon081-offset-x: -1600px;
$Pokemon081-offset-y: -1600px;
$Pokemon081-width: 200px;
$Pokemon081-height: 200px;
$Pokemon081-total-width: 2600px;
$Pokemon081-total-height: 2400px;
$Pokemon081-image: '../images/sprite.png';
$Pokemon081: 1600px 1600px -1600px -1600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon082-x: 1800px;
$Pokemon082-y: 0px;
$Pokemon082-offset-x: -1800px;
$Pokemon082-offset-y: 0px;
$Pokemon082-width: 200px;
$Pokemon082-height: 200px;
$Pokemon082-total-width: 2600px;
$Pokemon082-total-height: 2400px;
$Pokemon082-image: '../images/sprite.png';
$Pokemon082: 1800px 0px -1800px 0px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon083-x: 1800px;
$Pokemon083-y: 200px;
$Pokemon083-offset-x: -1800px;
$Pokemon083-offset-y: -200px;
$Pokemon083-width: 200px;
$Pokemon083-height: 200px;
$Pokemon083-total-width: 2600px;
$Pokemon083-total-height: 2400px;
$Pokemon083-image: '../images/sprite.png';
$Pokemon083: 1800px 200px -1800px -200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon084-x: 1800px;
$Pokemon084-y: 400px;
$Pokemon084-offset-x: -1800px;
$Pokemon084-offset-y: -400px;
$Pokemon084-width: 200px;
$Pokemon084-height: 200px;
$Pokemon084-total-width: 2600px;
$Pokemon084-total-height: 2400px;
$Pokemon084-image: '../images/sprite.png';
$Pokemon084: 1800px 400px -1800px -400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon085-x: 1800px;
$Pokemon085-y: 600px;
$Pokemon085-offset-x: -1800px;
$Pokemon085-offset-y: -600px;
$Pokemon085-width: 200px;
$Pokemon085-height: 200px;
$Pokemon085-total-width: 2600px;
$Pokemon085-total-height: 2400px;
$Pokemon085-image: '../images/sprite.png';
$Pokemon085: 1800px 600px -1800px -600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon086-x: 1800px;
$Pokemon086-y: 800px;
$Pokemon086-offset-x: -1800px;
$Pokemon086-offset-y: -800px;
$Pokemon086-width: 200px;
$Pokemon086-height: 200px;
$Pokemon086-total-width: 2600px;
$Pokemon086-total-height: 2400px;
$Pokemon086-image: '../images/sprite.png';
$Pokemon086: 1800px 800px -1800px -800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon087-x: 1800px;
$Pokemon087-y: 1000px;
$Pokemon087-offset-x: -1800px;
$Pokemon087-offset-y: -1000px;
$Pokemon087-width: 200px;
$Pokemon087-height: 200px;
$Pokemon087-total-width: 2600px;
$Pokemon087-total-height: 2400px;
$Pokemon087-image: '../images/sprite.png';
$Pokemon087: 1800px 1000px -1800px -1000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon088-x: 1800px;
$Pokemon088-y: 1200px;
$Pokemon088-offset-x: -1800px;
$Pokemon088-offset-y: -1200px;
$Pokemon088-width: 200px;
$Pokemon088-height: 200px;
$Pokemon088-total-width: 2600px;
$Pokemon088-total-height: 2400px;
$Pokemon088-image: '../images/sprite.png';
$Pokemon088: 1800px 1200px -1800px -1200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon089-x: 1800px;
$Pokemon089-y: 1400px;
$Pokemon089-offset-x: -1800px;
$Pokemon089-offset-y: -1400px;
$Pokemon089-width: 200px;
$Pokemon089-height: 200px;
$Pokemon089-total-width: 2600px;
$Pokemon089-total-height: 2400px;
$Pokemon089-image: '../images/sprite.png';
$Pokemon089: 1800px 1400px -1800px -1400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon090-x: 1800px;
$Pokemon090-y: 1600px;
$Pokemon090-offset-x: -1800px;
$Pokemon090-offset-y: -1600px;
$Pokemon090-width: 200px;
$Pokemon090-height: 200px;
$Pokemon090-total-width: 2600px;
$Pokemon090-total-height: 2400px;
$Pokemon090-image: '../images/sprite.png';
$Pokemon090: 1800px 1600px -1800px -1600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon091-x: 0px;
$Pokemon091-y: 1800px;
$Pokemon091-offset-x: 0px;
$Pokemon091-offset-y: -1800px;
$Pokemon091-width: 200px;
$Pokemon091-height: 200px;
$Pokemon091-total-width: 2600px;
$Pokemon091-total-height: 2400px;
$Pokemon091-image: '../images/sprite.png';
$Pokemon091: 0px 1800px 0px -1800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon092-x: 200px;
$Pokemon092-y: 1800px;
$Pokemon092-offset-x: -200px;
$Pokemon092-offset-y: -1800px;
$Pokemon092-width: 200px;
$Pokemon092-height: 200px;
$Pokemon092-total-width: 2600px;
$Pokemon092-total-height: 2400px;
$Pokemon092-image: '../images/sprite.png';
$Pokemon092: 200px 1800px -200px -1800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon093-x: 400px;
$Pokemon093-y: 1800px;
$Pokemon093-offset-x: -400px;
$Pokemon093-offset-y: -1800px;
$Pokemon093-width: 200px;
$Pokemon093-height: 200px;
$Pokemon093-total-width: 2600px;
$Pokemon093-total-height: 2400px;
$Pokemon093-image: '../images/sprite.png';
$Pokemon093: 400px 1800px -400px -1800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon094-x: 600px;
$Pokemon094-y: 1800px;
$Pokemon094-offset-x: -600px;
$Pokemon094-offset-y: -1800px;
$Pokemon094-width: 200px;
$Pokemon094-height: 200px;
$Pokemon094-total-width: 2600px;
$Pokemon094-total-height: 2400px;
$Pokemon094-image: '../images/sprite.png';
$Pokemon094: 600px 1800px -600px -1800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon095-x: 800px;
$Pokemon095-y: 1800px;
$Pokemon095-offset-x: -800px;
$Pokemon095-offset-y: -1800px;
$Pokemon095-width: 200px;
$Pokemon095-height: 200px;
$Pokemon095-total-width: 2600px;
$Pokemon095-total-height: 2400px;
$Pokemon095-image: '../images/sprite.png';
$Pokemon095: 800px 1800px -800px -1800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon096-x: 1000px;
$Pokemon096-y: 1800px;
$Pokemon096-offset-x: -1000px;
$Pokemon096-offset-y: -1800px;
$Pokemon096-width: 200px;
$Pokemon096-height: 200px;
$Pokemon096-total-width: 2600px;
$Pokemon096-total-height: 2400px;
$Pokemon096-image: '../images/sprite.png';
$Pokemon096: 1000px 1800px -1000px -1800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon097-x: 1200px;
$Pokemon097-y: 1800px;
$Pokemon097-offset-x: -1200px;
$Pokemon097-offset-y: -1800px;
$Pokemon097-width: 200px;
$Pokemon097-height: 200px;
$Pokemon097-total-width: 2600px;
$Pokemon097-total-height: 2400px;
$Pokemon097-image: '../images/sprite.png';
$Pokemon097: 1200px 1800px -1200px -1800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon098-x: 1400px;
$Pokemon098-y: 1800px;
$Pokemon098-offset-x: -1400px;
$Pokemon098-offset-y: -1800px;
$Pokemon098-width: 200px;
$Pokemon098-height: 200px;
$Pokemon098-total-width: 2600px;
$Pokemon098-total-height: 2400px;
$Pokemon098-image: '../images/sprite.png';
$Pokemon098: 1400px 1800px -1400px -1800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon099-x: 1600px;
$Pokemon099-y: 1800px;
$Pokemon099-offset-x: -1600px;
$Pokemon099-offset-y: -1800px;
$Pokemon099-width: 200px;
$Pokemon099-height: 200px;
$Pokemon099-total-width: 2600px;
$Pokemon099-total-height: 2400px;
$Pokemon099-image: '../images/sprite.png';
$Pokemon099: 1600px 1800px -1600px -1800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon100-x: 1800px;
$Pokemon100-y: 1800px;
$Pokemon100-offset-x: -1800px;
$Pokemon100-offset-y: -1800px;
$Pokemon100-width: 200px;
$Pokemon100-height: 200px;
$Pokemon100-total-width: 2600px;
$Pokemon100-total-height: 2400px;
$Pokemon100-image: '../images/sprite.png';
$Pokemon100: 1800px 1800px -1800px -1800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon101-x: 2000px;
$Pokemon101-y: 0px;
$Pokemon101-offset-x: -2000px;
$Pokemon101-offset-y: 0px;
$Pokemon101-width: 200px;
$Pokemon101-height: 200px;
$Pokemon101-total-width: 2600px;
$Pokemon101-total-height: 2400px;
$Pokemon101-image: '../images/sprite.png';
$Pokemon101: 2000px 0px -2000px 0px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon102-x: 2000px;
$Pokemon102-y: 200px;
$Pokemon102-offset-x: -2000px;
$Pokemon102-offset-y: -200px;
$Pokemon102-width: 200px;
$Pokemon102-height: 200px;
$Pokemon102-total-width: 2600px;
$Pokemon102-total-height: 2400px;
$Pokemon102-image: '../images/sprite.png';
$Pokemon102: 2000px 200px -2000px -200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon103-x: 2000px;
$Pokemon103-y: 400px;
$Pokemon103-offset-x: -2000px;
$Pokemon103-offset-y: -400px;
$Pokemon103-width: 200px;
$Pokemon103-height: 200px;
$Pokemon103-total-width: 2600px;
$Pokemon103-total-height: 2400px;
$Pokemon103-image: '../images/sprite.png';
$Pokemon103: 2000px 400px -2000px -400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon104-x: 2000px;
$Pokemon104-y: 600px;
$Pokemon104-offset-x: -2000px;
$Pokemon104-offset-y: -600px;
$Pokemon104-width: 200px;
$Pokemon104-height: 200px;
$Pokemon104-total-width: 2600px;
$Pokemon104-total-height: 2400px;
$Pokemon104-image: '../images/sprite.png';
$Pokemon104: 2000px 600px -2000px -600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon105-x: 2000px;
$Pokemon105-y: 800px;
$Pokemon105-offset-x: -2000px;
$Pokemon105-offset-y: -800px;
$Pokemon105-width: 200px;
$Pokemon105-height: 200px;
$Pokemon105-total-width: 2600px;
$Pokemon105-total-height: 2400px;
$Pokemon105-image: '../images/sprite.png';
$Pokemon105: 2000px 800px -2000px -800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon106-x: 2000px;
$Pokemon106-y: 1000px;
$Pokemon106-offset-x: -2000px;
$Pokemon106-offset-y: -1000px;
$Pokemon106-width: 200px;
$Pokemon106-height: 200px;
$Pokemon106-total-width: 2600px;
$Pokemon106-total-height: 2400px;
$Pokemon106-image: '../images/sprite.png';
$Pokemon106: 2000px 1000px -2000px -1000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon107-x: 2000px;
$Pokemon107-y: 1200px;
$Pokemon107-offset-x: -2000px;
$Pokemon107-offset-y: -1200px;
$Pokemon107-width: 200px;
$Pokemon107-height: 200px;
$Pokemon107-total-width: 2600px;
$Pokemon107-total-height: 2400px;
$Pokemon107-image: '../images/sprite.png';
$Pokemon107: 2000px 1200px -2000px -1200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon108-x: 2000px;
$Pokemon108-y: 1400px;
$Pokemon108-offset-x: -2000px;
$Pokemon108-offset-y: -1400px;
$Pokemon108-width: 200px;
$Pokemon108-height: 200px;
$Pokemon108-total-width: 2600px;
$Pokemon108-total-height: 2400px;
$Pokemon108-image: '../images/sprite.png';
$Pokemon108: 2000px 1400px -2000px -1400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon109-x: 2000px;
$Pokemon109-y: 1600px;
$Pokemon109-offset-x: -2000px;
$Pokemon109-offset-y: -1600px;
$Pokemon109-width: 200px;
$Pokemon109-height: 200px;
$Pokemon109-total-width: 2600px;
$Pokemon109-total-height: 2400px;
$Pokemon109-image: '../images/sprite.png';
$Pokemon109: 2000px 1600px -2000px -1600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon110-x: 2000px;
$Pokemon110-y: 1800px;
$Pokemon110-offset-x: -2000px;
$Pokemon110-offset-y: -1800px;
$Pokemon110-width: 200px;
$Pokemon110-height: 200px;
$Pokemon110-total-width: 2600px;
$Pokemon110-total-height: 2400px;
$Pokemon110-image: '../images/sprite.png';
$Pokemon110: 2000px 1800px -2000px -1800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon111-x: 0px;
$Pokemon111-y: 2000px;
$Pokemon111-offset-x: 0px;
$Pokemon111-offset-y: -2000px;
$Pokemon111-width: 200px;
$Pokemon111-height: 200px;
$Pokemon111-total-width: 2600px;
$Pokemon111-total-height: 2400px;
$Pokemon111-image: '../images/sprite.png';
$Pokemon111: 0px 2000px 0px -2000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon112-x: 200px;
$Pokemon112-y: 2000px;
$Pokemon112-offset-x: -200px;
$Pokemon112-offset-y: -2000px;
$Pokemon112-width: 200px;
$Pokemon112-height: 200px;
$Pokemon112-total-width: 2600px;
$Pokemon112-total-height: 2400px;
$Pokemon112-image: '../images/sprite.png';
$Pokemon112: 200px 2000px -200px -2000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon113-x: 400px;
$Pokemon113-y: 2000px;
$Pokemon113-offset-x: -400px;
$Pokemon113-offset-y: -2000px;
$Pokemon113-width: 200px;
$Pokemon113-height: 200px;
$Pokemon113-total-width: 2600px;
$Pokemon113-total-height: 2400px;
$Pokemon113-image: '../images/sprite.png';
$Pokemon113: 400px 2000px -400px -2000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon114-x: 600px;
$Pokemon114-y: 2000px;
$Pokemon114-offset-x: -600px;
$Pokemon114-offset-y: -2000px;
$Pokemon114-width: 200px;
$Pokemon114-height: 200px;
$Pokemon114-total-width: 2600px;
$Pokemon114-total-height: 2400px;
$Pokemon114-image: '../images/sprite.png';
$Pokemon114: 600px 2000px -600px -2000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon115-x: 800px;
$Pokemon115-y: 2000px;
$Pokemon115-offset-x: -800px;
$Pokemon115-offset-y: -2000px;
$Pokemon115-width: 200px;
$Pokemon115-height: 200px;
$Pokemon115-total-width: 2600px;
$Pokemon115-total-height: 2400px;
$Pokemon115-image: '../images/sprite.png';
$Pokemon115: 800px 2000px -800px -2000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon116-x: 1000px;
$Pokemon116-y: 2000px;
$Pokemon116-offset-x: -1000px;
$Pokemon116-offset-y: -2000px;
$Pokemon116-width: 200px;
$Pokemon116-height: 200px;
$Pokemon116-total-width: 2600px;
$Pokemon116-total-height: 2400px;
$Pokemon116-image: '../images/sprite.png';
$Pokemon116: 1000px 2000px -1000px -2000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon117-x: 1200px;
$Pokemon117-y: 2000px;
$Pokemon117-offset-x: -1200px;
$Pokemon117-offset-y: -2000px;
$Pokemon117-width: 200px;
$Pokemon117-height: 200px;
$Pokemon117-total-width: 2600px;
$Pokemon117-total-height: 2400px;
$Pokemon117-image: '../images/sprite.png';
$Pokemon117: 1200px 2000px -1200px -2000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon118-x: 1400px;
$Pokemon118-y: 2000px;
$Pokemon118-offset-x: -1400px;
$Pokemon118-offset-y: -2000px;
$Pokemon118-width: 200px;
$Pokemon118-height: 200px;
$Pokemon118-total-width: 2600px;
$Pokemon118-total-height: 2400px;
$Pokemon118-image: '../images/sprite.png';
$Pokemon118: 1400px 2000px -1400px -2000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon119-x: 1600px;
$Pokemon119-y: 2000px;
$Pokemon119-offset-x: -1600px;
$Pokemon119-offset-y: -2000px;
$Pokemon119-width: 200px;
$Pokemon119-height: 200px;
$Pokemon119-total-width: 2600px;
$Pokemon119-total-height: 2400px;
$Pokemon119-image: '../images/sprite.png';
$Pokemon119: 1600px 2000px -1600px -2000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon120-x: 1800px;
$Pokemon120-y: 2000px;
$Pokemon120-offset-x: -1800px;
$Pokemon120-offset-y: -2000px;
$Pokemon120-width: 200px;
$Pokemon120-height: 200px;
$Pokemon120-total-width: 2600px;
$Pokemon120-total-height: 2400px;
$Pokemon120-image: '../images/sprite.png';
$Pokemon120: 1800px 2000px -1800px -2000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon121-x: 2000px;
$Pokemon121-y: 2000px;
$Pokemon121-offset-x: -2000px;
$Pokemon121-offset-y: -2000px;
$Pokemon121-width: 200px;
$Pokemon121-height: 200px;
$Pokemon121-total-width: 2600px;
$Pokemon121-total-height: 2400px;
$Pokemon121-image: '../images/sprite.png';
$Pokemon121: 2000px 2000px -2000px -2000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon122-x: 2200px;
$Pokemon122-y: 0px;
$Pokemon122-offset-x: -2200px;
$Pokemon122-offset-y: 0px;
$Pokemon122-width: 200px;
$Pokemon122-height: 200px;
$Pokemon122-total-width: 2600px;
$Pokemon122-total-height: 2400px;
$Pokemon122-image: '../images/sprite.png';
$Pokemon122: 2200px 0px -2200px 0px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon123-x: 2200px;
$Pokemon123-y: 200px;
$Pokemon123-offset-x: -2200px;
$Pokemon123-offset-y: -200px;
$Pokemon123-width: 200px;
$Pokemon123-height: 200px;
$Pokemon123-total-width: 2600px;
$Pokemon123-total-height: 2400px;
$Pokemon123-image: '../images/sprite.png';
$Pokemon123: 2200px 200px -2200px -200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon124-x: 2200px;
$Pokemon124-y: 400px;
$Pokemon124-offset-x: -2200px;
$Pokemon124-offset-y: -400px;
$Pokemon124-width: 200px;
$Pokemon124-height: 200px;
$Pokemon124-total-width: 2600px;
$Pokemon124-total-height: 2400px;
$Pokemon124-image: '../images/sprite.png';
$Pokemon124: 2200px 400px -2200px -400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon125-x: 2200px;
$Pokemon125-y: 600px;
$Pokemon125-offset-x: -2200px;
$Pokemon125-offset-y: -600px;
$Pokemon125-width: 200px;
$Pokemon125-height: 200px;
$Pokemon125-total-width: 2600px;
$Pokemon125-total-height: 2400px;
$Pokemon125-image: '../images/sprite.png';
$Pokemon125: 2200px 600px -2200px -600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon126-x: 2200px;
$Pokemon126-y: 800px;
$Pokemon126-offset-x: -2200px;
$Pokemon126-offset-y: -800px;
$Pokemon126-width: 200px;
$Pokemon126-height: 200px;
$Pokemon126-total-width: 2600px;
$Pokemon126-total-height: 2400px;
$Pokemon126-image: '../images/sprite.png';
$Pokemon126: 2200px 800px -2200px -800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon127-x: 2200px;
$Pokemon127-y: 1000px;
$Pokemon127-offset-x: -2200px;
$Pokemon127-offset-y: -1000px;
$Pokemon127-width: 200px;
$Pokemon127-height: 200px;
$Pokemon127-total-width: 2600px;
$Pokemon127-total-height: 2400px;
$Pokemon127-image: '../images/sprite.png';
$Pokemon127: 2200px 1000px -2200px -1000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon128-x: 2200px;
$Pokemon128-y: 1200px;
$Pokemon128-offset-x: -2200px;
$Pokemon128-offset-y: -1200px;
$Pokemon128-width: 200px;
$Pokemon128-height: 200px;
$Pokemon128-total-width: 2600px;
$Pokemon128-total-height: 2400px;
$Pokemon128-image: '../images/sprite.png';
$Pokemon128: 2200px 1200px -2200px -1200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon129-x: 2200px;
$Pokemon129-y: 1400px;
$Pokemon129-offset-x: -2200px;
$Pokemon129-offset-y: -1400px;
$Pokemon129-width: 200px;
$Pokemon129-height: 200px;
$Pokemon129-total-width: 2600px;
$Pokemon129-total-height: 2400px;
$Pokemon129-image: '../images/sprite.png';
$Pokemon129: 2200px 1400px -2200px -1400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon130-x: 2200px;
$Pokemon130-y: 1600px;
$Pokemon130-offset-x: -2200px;
$Pokemon130-offset-y: -1600px;
$Pokemon130-width: 200px;
$Pokemon130-height: 200px;
$Pokemon130-total-width: 2600px;
$Pokemon130-total-height: 2400px;
$Pokemon130-image: '../images/sprite.png';
$Pokemon130: 2200px 1600px -2200px -1600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon131-x: 2200px;
$Pokemon131-y: 1800px;
$Pokemon131-offset-x: -2200px;
$Pokemon131-offset-y: -1800px;
$Pokemon131-width: 200px;
$Pokemon131-height: 200px;
$Pokemon131-total-width: 2600px;
$Pokemon131-total-height: 2400px;
$Pokemon131-image: '../images/sprite.png';
$Pokemon131: 2200px 1800px -2200px -1800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon132-x: 2200px;
$Pokemon132-y: 2000px;
$Pokemon132-offset-x: -2200px;
$Pokemon132-offset-y: -2000px;
$Pokemon132-width: 200px;
$Pokemon132-height: 200px;
$Pokemon132-total-width: 2600px;
$Pokemon132-total-height: 2400px;
$Pokemon132-image: '../images/sprite.png';
$Pokemon132: 2200px 2000px -2200px -2000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon133-x: 0px;
$Pokemon133-y: 2200px;
$Pokemon133-offset-x: 0px;
$Pokemon133-offset-y: -2200px;
$Pokemon133-width: 200px;
$Pokemon133-height: 200px;
$Pokemon133-total-width: 2600px;
$Pokemon133-total-height: 2400px;
$Pokemon133-image: '../images/sprite.png';
$Pokemon133: 0px 2200px 0px -2200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon134-x: 200px;
$Pokemon134-y: 2200px;
$Pokemon134-offset-x: -200px;
$Pokemon134-offset-y: -2200px;
$Pokemon134-width: 200px;
$Pokemon134-height: 200px;
$Pokemon134-total-width: 2600px;
$Pokemon134-total-height: 2400px;
$Pokemon134-image: '../images/sprite.png';
$Pokemon134: 200px 2200px -200px -2200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon135-x: 400px;
$Pokemon135-y: 2200px;
$Pokemon135-offset-x: -400px;
$Pokemon135-offset-y: -2200px;
$Pokemon135-width: 200px;
$Pokemon135-height: 200px;
$Pokemon135-total-width: 2600px;
$Pokemon135-total-height: 2400px;
$Pokemon135-image: '../images/sprite.png';
$Pokemon135: 400px 2200px -400px -2200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon136-x: 600px;
$Pokemon136-y: 2200px;
$Pokemon136-offset-x: -600px;
$Pokemon136-offset-y: -2200px;
$Pokemon136-width: 200px;
$Pokemon136-height: 200px;
$Pokemon136-total-width: 2600px;
$Pokemon136-total-height: 2400px;
$Pokemon136-image: '../images/sprite.png';
$Pokemon136: 600px 2200px -600px -2200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon137-x: 800px;
$Pokemon137-y: 2200px;
$Pokemon137-offset-x: -800px;
$Pokemon137-offset-y: -2200px;
$Pokemon137-width: 200px;
$Pokemon137-height: 200px;
$Pokemon137-total-width: 2600px;
$Pokemon137-total-height: 2400px;
$Pokemon137-image: '../images/sprite.png';
$Pokemon137: 800px 2200px -800px -2200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon138-x: 1000px;
$Pokemon138-y: 2200px;
$Pokemon138-offset-x: -1000px;
$Pokemon138-offset-y: -2200px;
$Pokemon138-width: 200px;
$Pokemon138-height: 200px;
$Pokemon138-total-width: 2600px;
$Pokemon138-total-height: 2400px;
$Pokemon138-image: '../images/sprite.png';
$Pokemon138: 1000px 2200px -1000px -2200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon139-x: 1200px;
$Pokemon139-y: 2200px;
$Pokemon139-offset-x: -1200px;
$Pokemon139-offset-y: -2200px;
$Pokemon139-width: 200px;
$Pokemon139-height: 200px;
$Pokemon139-total-width: 2600px;
$Pokemon139-total-height: 2400px;
$Pokemon139-image: '../images/sprite.png';
$Pokemon139: 1200px 2200px -1200px -2200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon140-x: 1400px;
$Pokemon140-y: 2200px;
$Pokemon140-offset-x: -1400px;
$Pokemon140-offset-y: -2200px;
$Pokemon140-width: 200px;
$Pokemon140-height: 200px;
$Pokemon140-total-width: 2600px;
$Pokemon140-total-height: 2400px;
$Pokemon140-image: '../images/sprite.png';
$Pokemon140: 1400px 2200px -1400px -2200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon141-x: 1600px;
$Pokemon141-y: 2200px;
$Pokemon141-offset-x: -1600px;
$Pokemon141-offset-y: -2200px;
$Pokemon141-width: 200px;
$Pokemon141-height: 200px;
$Pokemon141-total-width: 2600px;
$Pokemon141-total-height: 2400px;
$Pokemon141-image: '../images/sprite.png';
$Pokemon141: 1600px 2200px -1600px -2200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon142-x: 1800px;
$Pokemon142-y: 2200px;
$Pokemon142-offset-x: -1800px;
$Pokemon142-offset-y: -2200px;
$Pokemon142-width: 200px;
$Pokemon142-height: 200px;
$Pokemon142-total-width: 2600px;
$Pokemon142-total-height: 2400px;
$Pokemon142-image: '../images/sprite.png';
$Pokemon142: 1800px 2200px -1800px -2200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon143-x: 2000px;
$Pokemon143-y: 2200px;
$Pokemon143-offset-x: -2000px;
$Pokemon143-offset-y: -2200px;
$Pokemon143-width: 200px;
$Pokemon143-height: 200px;
$Pokemon143-total-width: 2600px;
$Pokemon143-total-height: 2400px;
$Pokemon143-image: '../images/sprite.png';
$Pokemon143: 2000px 2200px -2000px -2200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon144-x: 2200px;
$Pokemon144-y: 2200px;
$Pokemon144-offset-x: -2200px;
$Pokemon144-offset-y: -2200px;
$Pokemon144-width: 200px;
$Pokemon144-height: 200px;
$Pokemon144-total-width: 2600px;
$Pokemon144-total-height: 2400px;
$Pokemon144-image: '../images/sprite.png';
$Pokemon144: 2200px 2200px -2200px -2200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon145-x: 2400px;
$Pokemon145-y: 0px;
$Pokemon145-offset-x: -2400px;
$Pokemon145-offset-y: 0px;
$Pokemon145-width: 200px;
$Pokemon145-height: 200px;
$Pokemon145-total-width: 2600px;
$Pokemon145-total-height: 2400px;
$Pokemon145-image: '../images/sprite.png';
$Pokemon145: 2400px 0px -2400px 0px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon146-x: 2400px;
$Pokemon146-y: 200px;
$Pokemon146-offset-x: -2400px;
$Pokemon146-offset-y: -200px;
$Pokemon146-width: 200px;
$Pokemon146-height: 200px;
$Pokemon146-total-width: 2600px;
$Pokemon146-total-height: 2400px;
$Pokemon146-image: '../images/sprite.png';
$Pokemon146: 2400px 200px -2400px -200px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon147-x: 2400px;
$Pokemon147-y: 400px;
$Pokemon147-offset-x: -2400px;
$Pokemon147-offset-y: -400px;
$Pokemon147-width: 200px;
$Pokemon147-height: 200px;
$Pokemon147-total-width: 2600px;
$Pokemon147-total-height: 2400px;
$Pokemon147-image: '../images/sprite.png';
$Pokemon147: 2400px 400px -2400px -400px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon148-x: 2400px;
$Pokemon148-y: 600px;
$Pokemon148-offset-x: -2400px;
$Pokemon148-offset-y: -600px;
$Pokemon148-width: 200px;
$Pokemon148-height: 200px;
$Pokemon148-total-width: 2600px;
$Pokemon148-total-height: 2400px;
$Pokemon148-image: '../images/sprite.png';
$Pokemon148: 2400px 600px -2400px -600px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon149-x: 2400px;
$Pokemon149-y: 800px;
$Pokemon149-offset-x: -2400px;
$Pokemon149-offset-y: -800px;
$Pokemon149-width: 200px;
$Pokemon149-height: 200px;
$Pokemon149-total-width: 2600px;
$Pokemon149-total-height: 2400px;
$Pokemon149-image: '../images/sprite.png';
$Pokemon149: 2400px 800px -2400px -800px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon150-x: 2400px;
$Pokemon150-y: 1000px;
$Pokemon150-offset-x: -2400px;
$Pokemon150-offset-y: -1000px;
$Pokemon150-width: 200px;
$Pokemon150-height: 200px;
$Pokemon150-total-width: 2600px;
$Pokemon150-total-height: 2400px;
$Pokemon150-image: '../images/sprite.png';
$Pokemon150: 2400px 1000px -2400px -1000px 200px 200px 2600px 2400px '../images/sprite.png';
$Pokemon151-x: 2400px;
$Pokemon151-y: 1200px;
$Pokemon151-offset-x: -2400px;
$Pokemon151-offset-y: -1200px;
$Pokemon151-width: 200px;
$Pokemon151-height: 200px;
$Pokemon151-total-width: 2600px;
$Pokemon151-total-height: 2400px;
$Pokemon151-image: '../images/sprite.png';
$Pokemon151: 2400px 1200px -2400px -1200px 200px 200px 2600px 2400px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
